<html><head>
    <meta charset="UTF-8">
    <title>Formulario de registro</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <header>
        <div class="top-header">
            <div class="top-up">
                <div class="logo"> 
                    <img src="images/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre">
                </div>
                <div class="form" action="#" method="GET">
                    <div class="input">Buscar productos, marcas y más</div>
                    <div class="submit"><i class="fa fa-search"></i></div>
                </div>
            </div>
            <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
        <nav>
            <ul class="left-nav">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="right-nav">
                <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
        <div class="burger-menu"><i class="fa fa-bars burger"></i>
        </div>
    </header>
    <main>
        <form action="/home" method="GET" class="form-registro">
            <input type="text" name="nombre" placeholder="Nombre" required>
            <br>
            <input type="text" name="usuario" placeholder="Nombre de usuari@" required>
            <br>
            <input type="email" name="email" placeholder="E-mail" required>
            <br>
            <label class="fecha-nac">Fecha de nacimiento</label>
            <input type="date" name="nacimiento" required>
            <br>
            <input type="text" name="domicilio" placeholder="Domicilio">
            <br>
            <label class="perfil">Perfil de usuario</label>
            <div class="botonescv">
            <input type="radio" name="perfil" value="comprar" class="comprador" required>Comprador
            <input type="radio" name="perfil" value="vender" class="vendedor" required>Vendedor
            </div>
            <label class="intereses">Intereses</label>
            <div class="checkbox">
            <input type="checkbox" name="categorias" value="electro" required>Electro
            <input type="checkbox" name="categorias" value="moda" required>Moda
            <input type="checkbox" name="categorias" value="hogar" required>Hogar
            <input type="checkbox" name="categorias" value="jugueteria" required>Jugueteria
            <input type="checkbox" name="categorias" value="vida-sana" required>Vida Sana
            </div>
            <label class="foto">Foto de usuario</label>
            <input type="file" name="foto" required><br>
            <input type="password" name="contraseña" placeholder="Contraseña" required><br>
            <input type="password" name="confirmar-contraseña" placeholder="Confirmar Contraseña" required><br>
            <div class="botones-final">
            <button type="submit" name="enviar" class="boton-enviar">Enviar</button>
            <button type="reset" name="borrar" class="boton-borrar">Borrar</button>
            </div>
        </form>
    </main>
    <footer>
        <div class="tarjetas">
            <section class="target">
                <i class="fas fa-credit-card"></i>
                <h5>Pagá con tarjeta o en efectivo</h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
            </section>
            <section class="target">
                <i class="fas fa-gift"></i>
                <h5>Envío gratis desde $ 2.500</h3>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
            </section>
            <section class="target">
                <i class="fas fa-shield-alt"></i>
                <h5>Seguridad, de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
            </section>
        </div>
        <div class="copyright">
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </div>
    </footer>
</body>
</html>